---
import NavigationDropdown from '~/components/NavigationDropdown.vue'
import 'github-markdown-css/github-markdown.css'

const { frontmatter } = Astro.props
const navigation = frontmatter?.navigation
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <title>Astro Basics</title>
  </head>
  <body class="markdown-body">
    <!-- 只在有 navigation 数据时显示下拉按钮 -->
    {navigation && <NavigationDropdown navigation={navigation} client:load />}

    <main class="mxa p8 container">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
